@import "../scss/variables.scss";

.pokemon-list {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;

    & > ul {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        gap: $paddingMedium;

        @include breakpoint(medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(large) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint(xlarge) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    & > ul > li {
        max-width: 100%;
    }

    .load-more {
        background-color: $red;
        color: $white;
        font-size: $fontSizeLarge;
        padding: $paddingMedium;
        border-radius: $borderRadiusCard;
        margin-top: $paddingMedium;
        margin-bottom: $paddingMedium;
        cursor: pointer;

        &:hover {
            color: $red;
            background-color: $white;
            border: 2px solid $red;
        }
    }
}