@import "../scss/variables.scss";

.types-container {
    display: flex;
    flex-wrap: wrap;

    &.small-spacing {
        gap: $paddingSmall;
    }

    &.medium-spacing {
        gap: $paddingMediumSmall;
    }
}